/* yeon-sung-regular - latin */
@font-face {
  font-family: "Yeon Sung";
  font-style: normal;
  font-weight: 400;
  src: local("Yeon Sung"),
    url("../fonts/yeon-sung/yeon-sung-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/yeon-sung/yeon-sung-v8-latin-regular.woff") format("woff");
  font-display: swap;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
    url("../fonts/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin-regular.woff") format("woff");
  font-display: swap;
}

/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans"),
    url("../fonts/open-sans/open-sans-v18-latin-italic.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin-italic.woff") format("woff");
  font-display: swap;
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans"),
    url("../fonts/open-sans/open-sans-v18-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin-700.woff") format("woff");
  font-display: swap;
}

/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans"),
    url("../fonts/open-sans/open-sans-v18-latin-700italic.woff2")
      format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin-700italic.woff") format("woff");
  font-display: swap;
}
