.articles {
  list-style-type: none;
  margin: 0;
}

.article {
  margin: 0.5rem 0 1.3rem 0.5rem;
  padding-left: 1rem;
  position: relative;

  &:before {
    content: "";
    background: rgba(52, 73, 94, 0.4);
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 50%;
    width: 1px;
  }

  .description {
    opacity: 0.8;
  }
}
