.articles {
  list-style-type: none;
  margin: 0;
}

.article {
  margin: auto auto 1rem auto;
  padding: 0.75rem;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 5px;

  &:hover {
    background-color: rgba(49, 47, 47, 0.02);
    border-color: rgba(52, 73, 94, 0.9);
  }
  .description {
    opacity: 0.8;
  }
}
