.metrics {
  line-height: 3rem;
  font-family: "Ubuntu Mono", monospace;
}

.metric,
.metricCount {
  padding: 10px 10px;
  background-color: rgba(52, 73, 94, 0.1);
  border-bottom: unset;

  @media (max-width: 450px) {
    padding: 3px 3px;
  }
}
