.metrics {
    line-height: 3rem;
    font-family: "Ubuntu Mono", monospace;
}

.metric, .metricCount {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgba(24, 22, 22, 0.432);

    @media(max-width: 450px) {
        padding: 3px 6px;
        margin-right: 3px;
    }
}