$header-theme-color: #6b75b4;

.header {
  padding: 1rem 0 3rem;
}

.title {
  color: $header-theme-color;
  font-size: 3.5rem;
  text-decoration: none;
  font-family: "Yeon Sung", cursive;

  &:hover{
    background-color: transparent;
    color: rgb(90, 84, 84);
  }

  &::after {
    content: "(fulltime autodidact)";
    font-family: "Open Sans";
    font-size: 1rem;
    color: rgb(49, 47, 47);
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #8e8f8e;
  font-family: "Open Sans";
  font-size: 0.9rem;
  margin-right: 1.2rem;
  text-decoration: none;
  position: relative;

  &:hover {
    background-color: transparent;
    color: #989bc5;
  }

  // animated underline on hover
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 1px;
    bottom: -4px;
    // left: -50%;
    background-color: #989bc5;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    opacity: 1;
    left: 0;
    transform: scaleX(1);
  }
}

.active-nav-item {
  color: #989bc5;
  opacity: 0.8;
  left: 0;
}

// Dropdown
 .dropdownButton {
   font-family: monospace;

  // &::after {
  //    content: ' \f107';
  //    font-family: "Font Awesome 5 Free";
  //    font-weight: 900;
  //  }

  &:hover:before {
     opacity: 0;
   }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover, &:active {
    .dropdownContent {
      display: block;
      z-index: 1;
    }
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgb(1, 0, 12);
  border: 0.2px solid rgb(150, 145, 145);
  padding: 5px;
  border-radius: 3px;

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 3px 10px;
    font-family: monospace;
    color: #8e8f8e;
  }
}